# Ambiente virtual
*/venv/
venv/
env/
env.bak/
*.env

# Diretórios __pycache__ em qualquer lugar do projeto
__pycache__/
**/__pycache__/

# Cache do pytest
.pytest_cache/

# Arquivos de logs
*.log

# Arquivos de compilação do Python
*.pyc
*.pyo
*.pyd

# Arquivos temporários do sistema operacional
.DS_Store
